* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f3725f;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .logo .black {
    color: #000;
  }
  
  .logo .yellow {
    color: #ffd700;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }
  
  nav a.active {
    color: black;

  }
  
  .hero {
    background-image: url("/images/back.jpg"); /* make sure this image is in same folder or give full path */
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .overlay {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 10px;
    color: white;
    border-radius: 20px;
  }
  
  .overlay h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .overlay p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .overlay button {
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border-style: dashed;
    border-color: #000;
  }
  
  .description {
    padding: 30px;
    background-color: #f3725f;
    color: white;
    font-size: 16px;
    text-align: center;
    border-style: solid;
    border-color: #000;
  }
  
  footer {
    background-color: #f8c4c4;
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }
  